*{
	margin: 0;
	padding: 0;
	list-style: none;
}
body{background-color:#f4f4f4;}
.bTi{text-align: center;margin-top: 5%;}
.tTu{position: relative;
	height: 100px;width:100px;margin: 0 auto;
	
	}
.tTu div{
	display: inline-block;
}
.tTu div:first-child{position: absolute;
	height: 8px;width: 8px;background-color: black;left: 52%;top: 47%;}
.tTu div:nth-child(2){position: absolute;
	height: 16px;width: 16px;background-color: black;left: 65%;top: 38%;}
.tTu div:nth-child(3){position: absolute;
	height: 32px;width: 32px;background-color: black;left: 28%; top: 59%;
	color: #f4f4f4;text-align: center;line-height: 32px;
	}
.tTu div:last-child{position: absolute;
	height: 16px;width: 16px;background-color: black;left: 65%; top: 59%;
	}
	
	
	
	
.tTou{display: flex;
flex-direction: row;
width: 90%;
margin:0 auto;

}
.tTou li{
	width:40%;
text-align: center;
border-bottom: 6px solid #ddd;
}
.tTou .tMain{
	width: 20%;
	border-bottom: 6px solid black;}
	
#t1{
	margin: 3% 5%;
	border: 1px solid black;
	/*height: 60px;
	line-height: 60px;*/
}
.tGan{margin: 3% 5%;
border-top: 1px solid black;}
.daAn{margin: 0 5%;
border-top: 1px solid black;
}
.tGan li{display: inline-block;
margin-top: 2%;}
.xuHao{width: 10%;
border-left:#000000 solid 1px;
border-right: #000000 solid 1px;
text-align: center;}
.xuanXiang{margin-left: 15%;margin-top: 5%;}
.xuanXiang li{
	width: 40%;
/*text-align: center;*/}
.tShi{
	margin-top: 40px;
	border: 1px solid #ddd;
text-align: center;
height: 40px;
line-height: 40px;
color: #ddd;}
.yinCang{
	text-align: center;
height: 100px;
line-height: 100px;
font-size: 40px;
color: #f4f4f4;}

.tiTu{margin-top: 3%;}
.tiTu img{width: 350px;height: 350px;margin: 0 7%;}
.tGan2{margin: 0 5%;background-color: #ddd;}
.tGan2 li{display: inline-block;
height: 60px; line-height: 60px;
}
.tGan2 img{height: 100%;}

 .daAn2{margin: 0 5%;border: black solid 1px; height: 40px;line-height: 40px;}
.tGan3,
.tGan4,
.tGan5{margin: 3% 5%;border: #000000 solid 1px;padding: ;}
